<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/style.css" />
    <link rel="shortcut icon" href="/static/your_tempo.ico" />
    <title>Your Tempo</title>
  </head>
  <body>
    <h1>Your Tempo</h1>
    <h3>(テンポ測定アプリ)</h3>
    <button id="spotifyLoginButton">Spotifyログイン</button>
    <p id="userNameDisplay"></p>
    <p id="savePlaylistButtonContainer">
      <button id="savePlaylistButton" style="display: none">
        プレイリストを保存
      </button>
    </p>
    <h3>あなたの気分でタップしてね</h3>
    <button id="tapButton">Tap</button>
    <p id="tempoDisplay">Tempo: 0 BPM</p>
    <p id="playlist"></p>

    <script src="/static/script.js"></script>
  </body>
</html>
